<ion-view view-title="更多">
    <div class="bar bar-header bar-assertive">
        <h1 class="title">更多</h1>
    </div>
    <ion-content class="has-header">
        <ion-list class="more-block">
            <ion-item class="item-icon-right">
                常见问题
                <i class="icon">></i>
            </ion-item>
            <ion-item class="item-icon-right">
                系统设置
                <i class="icon">></i>
            </ion-item>
            <ion-item class="item-icon-right">
                软件更新
                <i class="icon">></i>
            </ion-item>
            <ion-item class="item-icon-right">
                扫描二维码
                <i class="icon">></i>
            </ion-item>
        </ion-list>
        <ion-list class="more-block">
            <ion-item class="item-icon-right">
                我要提意见
                <i class="icon">></i>
            </ion-item>
            <ion-item class="item-icon-right">
                关于
                <i class="icon">></i>
            </ion-item>
        </ion-list>
        <div class="btn-block"><button class="button button-assertive exit" ng-click="logOut()">退出登录</button></div>
    </ion-content>
</ion-view>