<div class="bottom-num" ng-show="num">{{ strNum }}</div>
<ion-tabs class="tabs-icon-top tabs-color-dark">
		<ion-tab title="首页" icon-on="ion-ios-home" icon-off="ion-ios-home-outline" ui-sref="tab.home">
			<ion-nav-view name="tab-home"></ion-nav-view>
		</ion-tab>
		<ion-tab title="分类" icon-on="ion-ios-list" icon-off="ion-ios-list-outline" ui-sref="tab.classify">
			<ion-nav-view name="tab-classify"></ion-nav-view>
		</ion-tab>
		<ion-tab title="购物车" icon-on="ion-ios-browsers" icon-off="ion-ios-browsers-outline" ui-sref="tab.cart">
			<ion-nav-view name="tab-cart"></ion-nav-view>
		</ion-tab>
		<ion-tab title="我的秀" icon-on="ion-ios-person" icon-off="ion-ios-person-outline" ui-sref="tab.personal">
			<ion-nav-view name="tab-personal"></ion-nav-view>
		</ion-tab>
		<ion-tab title="更多" icon-on="ion-ios-more" icon-off="ion-ios-more-outline" ui-sref="tab.more">
			<ion-nav-view name="tab-more"></ion-nav-view>
		</ion-tab>
</ion-tabs>